body, nav {
    background-color: #E2CEB1;
    font-family: 'Poppins', sans-serif;
}

nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
        backdrop-filter: blur(10px); /* Efek blur */
        background-color: rgba(255, 255, 255, 0.7); /* Warna transparan */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sedikit bayangan */
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Garis bawah tipis */
    
    
}

main {
    margin-top: 4rem; /* Sesuaikan dengan tinggi navbar */
}
